/* hero section component */
.HeroSection{
  position: relative;
  width: 100%;
  height: 80vh;
}
.hero_img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.HeroContent{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin:10%;
}



.HeroHeading{
  font-size: var(--hero-heading-size, 50px);
  font-family: var(--hero-heading-family,'Open Sans', sans-serif);
  color: var(--hero-heading-color, black);
  margin: var(--hero-heading-margin-top, 5px) var(--hero-heading-margin-right, 5px) var(--hero-heading-margin-bottom, 5px) var(--hero-heading-margin-left, 5px); 
}

.HeroParagraph{
  font-size: var(--hero-h2-size, 15px);
  font-family: var(--hero-h2-family,'Open Sans', sans-serif);
  color: var(--hero-paragraph-color, black);
  margin: var(--hero-paragraph-margin, 5px)
}

.HeroButton{
  padding: var(--buttonHero-padding,10px);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--Hero-button-text-color, white);
  background-color: var(--hero-button-color,#80808099);
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: var(--hero-button-margin, 5px)
}