/* hero section component */
.HeroSection{
  width: 100%;
  height: 80vh;
  background: var(--hero-container-background-color,white) var(--hero-container-background-image,none) var(--hero-container-background-position,center)/var(--hero-container-background-size,cover) no-repeat;
}

/* hero content component*/
.HeroContainer{
  display: flex;
  flex-direction: var(--Hero-Container-flex-direction);--Hero-Container-flex-direction:column;
  align-items: var(--Hero-Container-align-items);--Hero-Container-align-items:center;
  align-content: var(--Hero-Container-align-content);--Hero-Container-align-content:center;
  justify-content: var(--Hero-Container-justify-content);--Hero-Container-justify-content:center;
  margin:2%;
}



.HeroHeading{
  font-size: var(--hero-heading-size, 50px);
  font-family: var(--hero-heading-family,'Open Sans', sans-serif);
  color: var(--hero-heading-color, black);
  margin: var(--hero-heading-margin-top, 5px) var(--hero-heading-margin-right, 5px) var(--hero-heading-margin-bottom, 5px) var(--hero-heading-margin-left, 5px);
}

.HeroParagraph{
  font-size: var(--hero-paragraph-size, 15px);
  font-family: var(--hero-paragraph-family,'Open Sans', sans-serif);
  color: var(--hero-paragraph-color, black);
  margin: var(--hero-paragraph-margin-top, 5px) var(--hero-paragraph-margin-right, 5px) var(--hero-paragraph-margin-bottom, 5px) var(--hero-paragraph-margin-left, 5px);
}
.HeroAnchorParagraph{
  color: var(--hero-anchor-paragraph-color, white);
}

.HeroButton{
  padding: var(--hero-button-padding, 10px);
  border: var(--hero-button-border-width, 0px) var(--hero-button-border-type, solid) var(--hero-button-border-color, black);
  border-radius: var(--hero-button-border-radius, 0px);
  margin: var(--hero-button-margin-top, 5px) var(--hero-button-margin-right, 5px) var(--hero-button-margin-bottom, 5px) var(--hero-button-margin-left, 5px);
  font-size: var(--hero-button-text-size, 15px);
  font-family: var(--hero-button-text-family,'Open Sans', sans-serif);
  font-weight: 600;
  color: var(--hero-button-text-color, white);
  background-color: var(--hero-button-color,#80808099);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}