/* hero section component */
.HeroSection{
  display: flex;
  width:100%;
  height: var( --hero-section-height, 500px);
  padding:  var(--hero-section-padding-top,30px) var(--hero-section-padding-right,30px) var(--hero-section-padding-bottom,30px) var(--hero-section-padding-left,30px);
  background: var(--hero-section-background-color,rgba(0, 0, 0, 0.5)) var(--hero-section-background-image,none) var(--hero-section-background-position,center)/var(--hero-section-background-size,cover) no-repeat;
  background-blend-mode: var(--container-background-mode,multiply);
}

@media (max-width: 768px) {  
  .HeroSection{
    display: flex;
    width: 100%;
    height: auto;
    padding:  var(--hero-section-padding-top,30px) var(--hero-section-padding-right,30px) var(--hero-section-padding-bottom,30px) var(--hero-section-padding-left,30px);
    background: var(--hero-section-background-color,rgba(0, 0, 0, 0.5)) var(--hero-section-background-image,none) var(--hero-section-background-position,center)/var(--hero-section-background-size,cover) no-repeat;
    background-blend-mode: var(--container-background-mode,multiply);
  }
}

/* hero content component*/
.HeroContainer{
  display: flex;
  flex-wrap: var(--Hero-Container-flex-wrap); --Hero-Container-flex-wrap:wrap;
  flex-direction: var(--Hero-Container-flex-direction);--Hero-Container-flex-direction:column;
  align-items: var(--Hero-Container-align-items);--Hero-Container-align-items:center;
  align-content: var(--Hero-Container-align-content);--Hero-Container-align-content:center;
  justify-content: var(--Hero-Container-justify-content);--Hero-Container-justify-content:center;
  margin: var(--hero-container-margin-top) var(--hero-container-margin-right) var(--hero-container-margin-bottom) var(--hero-container-margin-left);
  --hero-container-margin-top:0px; --hero-container-margin-right:0px; --hero-container-margin-bottom:0px; --hero-container-margin-left:0px;
}



.HeroHeading{
  font-size: var(--hero-heading-size, 50px);
  font-family: var(--hero-heading-family,'Open Sans', sans-serif);
  color: var(--hero-heading-color, black);
  margin: var(--hero-heading-margin-top, 5px) var(--hero-heading-margin-right, 5px) var(--hero-heading-margin-bottom, 5px) var(--hero-heading-margin-left, 5px);
}

.HeroParagraph{
  font-size: var(--hero-paragraph-size, 15px);
  font-family: var(--hero-paragraph-family,'Open Sans', sans-serif);
  color: var(--hero-paragraph-color, black);
  margin: var(--hero-paragraph-margin-top, 5px) var(--hero-paragraph-margin-right, 5px) var(--hero-paragraph-margin-bottom, 5px) var(--hero-paragraph-margin-left, 5px);
}
.HeroAnchorParagraph{
  color: var(--hero-anchor-paragraph-color, white);
}

.HeroButton{
  padding: var(--hero-button-padding, 10px);
  border: var(--hero-button-border-width, 0px) var(--hero-button-border-type, solid) var(--hero-button-border-color, black);
  border-radius: var(--hero-button-border-radius, 0px);
  margin: var(--hero-button-margin-top, 5px) var(--hero-button-margin-right, 5px) var(--hero-button-margin-bottom, 5px) var(--hero-button-margin-left, 5px);
  font-size: var(--hero-button-text-size, 15px);
  font-family: var(--hero-button-text-family,'Open Sans', sans-serif);
  font-weight: 600;
  color: var(--hero-button-text-color, white);
  background-color: var(--hero-button-color,#80808099);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}