# Node modules
node_modules/
next_dev

# Build output
*.log

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# npm debug logs