/* Header.module.css */


/* header component */
.header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: var(--header-padding-top,5px),var(--header-padding-right,5px),var(--header-padding-bottom,5px),var(--header-padding-left,5px);
  background-color: var(--header-background-color, white);
  position: var(--header-fixed);
  top: 0;
}

/* navBar component */
.navbar {
  flex: var(--navbar-component-Grow, 3);
  font-size: var(--navbar-font-size, 25px);
  font-family: var(--navbar-font-family,'Open Sans', sans-serif);
}

.desktopMenu{
  display: flex;
  justify-content: var(--navbar-desktop-menu-align,center);
  gap:15px;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.menuMobileBottom{
  display: none;
  font-size: 15px;
}

.mobileMenu {
  display: none;
}

/* media query per mobile */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .desktopMenu {
    display: none;
  }
  .menuMobileBottom {
    display: inherit;
    font-size: 20px;
  }
  .mobileMenu {
    display: var(--menu-display);
    flex-direction: column;
    align-items: var(--navbar-mobile-menu-align,flex-start);
    background-color: var(--header-background-color, white);
    position:absolute;
    top:var(--mobile-menu-top,100%);
    right:0;
    width: 100%;
    z-index: 10;
  }
}



/* header heading*/
.HeaderHeading{
  display: flex;
  justify-content: var(--header-heading-align,center);
  align-items: center;
  flex: var(--header-heading-grow, 1);
  font-size: var(--header-heading-size, 30px);
  font-family: var(--header-heading-family, 'Poppins'), 'Roboto', 'Lato', sans-serif;
  color: var(--header-heading-color, rgb(0, 0, 0));
}



/* icons proprierty*/
.socialIconsContainer{
  display: inline-flex;
  justify-content: var(--header-social-icons-align,center);
  align-items: center;
  list-style: none;
  flex: var(--header-social-icons-grow, 1);
}

.socialIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--header-social-icons-size,18px);
  padding: 0.375rem;
  min-width: clamp(2.5rem, 5vw, 3rem);
  min-height: clamp(2.5rem, 5vw, 3rem);
  margin: 0.5rem;
}

.screen_reader_only{
  position: absolute;
  left: -9999px;
}

/* header image logo*/
.headerImageLogo{
  display: inline-flex;
  flex: var(--header-image-logo-grow, 1);
  justify-content: var(--header-image-logo-align,center);
  align-items: center;
  list-style: none;
}

/* HOVER EVENT CLASS*/
.hoverEnabled:hover {
  color: var(--header-hover-color, rgb(56, 56, 56));
  cursor: pointer;
}