/* Header.module.css */

.header {
  display: inline-flex;
  width: 100%;
  padding: var(--header-padding-top,5px),var(--header-padding-right,5px),var(--header-padding-bottom,5px),var(--header-padding-left,5px);
  background-color: var(--header-background-color, white);
  position: var(--header-fixed);
  top: 0;
}

.navbar {
  display: flex;
  flex: var(--componet-Grow, 3);
  font-size: var(--font-size, 15px);
  font-family: var(--font-family,'Open Sans', sans-serif);
}

.ul{
  display: inherit;
}

.alignComponent{
  display: inline-flex;
  align-items: center;
  list-style: none;
  flex: var(--componet-Grow, 1 1 0);
}
.justifyLeft {
  justify-content: left;
}
.justifyCenter {
  justify-content: center;
}
.justifyRight {
  justify-content: right;
}

.il{
  padding: 0.9%;
}
.borderRight {
  border-right: 1px solid gray;
}
.borderBottom {
  border-bottom: 1px solid gray;
}




.menuMobileBottom{
  display: none;
}

.mobileMenu {
  display: none;
}

/* media query per mobile */
@media (max-width: 768px) {
  .ul {
    display: none;
  }
  .menuMobileBottom {
    display: inherit;
    align-items: center;
  }
  .mobileMenu {
    display: var(--menu-display);
    background-color: var(--header-background-color, white);
    position:absolute;
    top:var(--mobile-menu-top,100%);
    right:0;
    width: 100%;
    z-index: 10;
  }
}




.menuText{
  font-style: normal; 
  font-weight: 400; 
  letter-spacing: 0px; 
  text-transform: uppercase;
}




/* header heading*/
.HeaderHeading{
  display: flex;
  align-items: center;
  font-size: var(--header-heading-size, 30px);
  font-family: var(--header-heading-family, 'Poppins'), 'Roboto', 'Lato', sans-serif;
  color: var(--header-heading-color, rgb(0, 0, 0));
}



/* icons proprierty*/
.socialIconsContainer{
  display: inline-flex;
  justify-content: var(--header-social-icons-align,center);
  align-items: center;
  list-style: none;
  flex: var(--header-social-icons-grow, 1);
}

.socialIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--header-social-icons-size,18px);
  padding: 0.375rem;
  min-width: clamp(2.5rem, 5vw, 3rem);
  min-height: clamp(2.5rem, 5vw, 3rem);
  margin: 0.5rem;
}

.screen_reader_only{
  position: absolute;
  left: -9999px;
}

/* header image logo*/
.headerImageLogo{
  display: inline-flex;
  flex: var(--header-image-logo-grow, 1);
  justify-content: var(--header-image-logo-align,center);
  align-items: center;
  list-style: none;
}

/* HOVER EVENT CLASS*/
.hoverEnabled:hover {
  color: var(--header-hover-color, rgb(56, 56, 56));
  cursor: pointer;
}