/* Header.module.css */

.header {
  display: inline-flex;
  width: 100%;
  padding: var(--padding);
  background-color: var(--bg-color, white);
}

.fixed {
  position: fixed;
  top: 0;
}

.navbar {
  display: flex;
  flex: var(--componet-Grow, 1 1 0);
  font-size: var(--font-size, 15px);
  font-family: var(--font-family,'Open Sans', sans-serif);
}

.ul{
  display: inherit;
}

.alignComponent{
  display: inline-flex;
  align-items: center;
  list-style: none;
  flex: var(--componet-Grow, 1 1 0);
}
.justifyLeft {
  justify-content: left;
}
.justifyCenter {
  justify-content: center;
}
.justifyRight {
  justify-content: right;
}

.il{
  padding: 0.9%;
}
.borderRight {
  border-right: 1px solid gray;
}
.borderBottom {
  border-bottom: 1px solid gray;
}




.menuMobileBottom{
  display: none;
}

.mobileMenu {
  display: none;
}

/* media query per mobile */
@media (max-width: 768px) {
  .ul {
    display: none;
  }
  .menuMobileBottom {
    display: inherit;
    align-items: center;
  }
  .mobileMenu {
    display: var(--menu-display);
    background-color: var(--bg-color, 'white');
    position:absolute;
    top:var(--mobile-menu-top,100%);
    right:0;
    width: 100%;
    z-index: 10;
  }
}

/* icons proprierty*/
.alignSocialIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--icons-size,10px);
}
.touchTarget {
  padding: 0.375rem;
  min-width: clamp(2.5rem, 5vw, 3rem);
  min-height: clamp(2.5rem, 5vw, 3rem);
  margin: 0.5rem;
}


.menuText{
  font-style: normal; 
  font-weight: 400; 
  letter-spacing: 0px; 
  text-transform: uppercase;
}
.hoverEnabled:hover {
  color: var(--hover-color, rgb(255, 255, 255));
  cursor: pointer;
}


.screen_reader_only{
  position: absolute;
  left: -9999px;
}