.customHeading{
  margin: var(--heading-marginTop, 1%) var(--heading-marginRight, 1%) var(--heading-marginBottom, 1%) var(--heading-marginLeft, 1%);
  font: var(--heading-fontStyle,normal) var(--heading-fontVariant,small-caps) var(--heading-fontWeight, 600) var(--heading-fontStretch,condensed) var(--heading-fontSize, 4rem)/var(--heading-lineHeight,1.4) var(--heading-fontFamily,"Helvetica Neue", Arial, sans-serif);
  /*text-shadow: 0 4px 12px rgba(0,0,0,0.3)*/
  color:var(--heading-color,black);
  letter-spacing: 1px;
}

/* CustomParagraph component */
.customParagraph{
  font: var(--font-style-paragraph,normal) var(--font-variant-paragraph,normal) var(--font-weight-paragraph, 400) var(--font-stretch-paragraph,normal) var(--font-size-paragraph, 1rem)/var(--line-height-paragraph,1.5) var(--font-family-paragraph,"Helvetica Neue", Arial, sans-serif);
  z-index: 10;
}
.anchor{
  color: var(--anchor-color, black );
  text-decoration: var(--anchor-text-decoration-line,underline) var(--anchor-text-decoration-style,solid) var(--anchor-text-decoration-color,black) var(--anchor-text-decoration-thickness,1px);
}
.anchor:hover{
  color: var(--anchor-hover-color, red);
  text-decoration: var(--anchor-hover-text-decoration-line,underline) var(--anchor-hover-text-decoration-style,solid) var(--anchor-hover-text-decoration-color,red) var(--anchor-hover-text-decoration-thickness,1px);
}

.button{
  margin: var(--button-margin-top, 1px) var(--button-margin-right, 1px) var(--button-margin-bottom, 1px) var(--button-margin-left, 1px);
  border: var(--button-border-width, 3px) var(--button-border-type, solid) var(--button-border-color,black);
  border-radius: var(--button-border-radius, 5px);
  padding: var(--button-padding-top, 10px) var(--button-padding-right, 10px) var(--button-padding-bottom, 10px) var(--button-padding-left, 10px);
  font: var(--button-font-text-style,normal) var(--button-font-text-variant,small-caps) var(--button-font-text-weight, 600) var(--button-font-text-stretch,condensed) var(--button-font-text-size, 1.1rem)/var(--button-line-text-height,1.4) var(--button-font-text-family,"Helvetica Neue", Arial, sans-serif);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  color: var(--button-text-color,white);
  background-color: var(--button-background-color, black);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.FlexContainer{
  display: flex;
}