.customHeading{
  margin: var(--heading-marginTop, 1%) var(--heading-marginRight, 1%) var(--heading-marginBottom, 1%) var(--heading-marginLeft, 1%);
  font: var(--heading-fontStyle,normal) var(--heading-fontVariant,small-caps) var(--heading-fontWeight, 600) var(--heading-fontStretch,condensed) var(--heading-fontSize, 4rem)/var(--heading-lineHeight,1.4) var(--heading-fontFamily,"Helvetica Neue", Arial, sans-serif);
  /*text-shadow: 0 4px 12px rgba(0,0,0,0.3)*/
  color:var(--heading-color,black);
  letter-spacing: 1px;
}

/* CustomParagraph component */
.customParagraph{
  font: var(--font-style,normal) var(--font-variant,normal) var(--font-weight, 400) var(--font-stretch,normal) var(--font-size, 1rem)/var(--line-height,1.5) var(--font-family,"Helvetica Neue", Arial, sans-serif);
  z-index: 10;
}
.anchor{
  color: var(--anchor-color, black);
  text-decoration: underline dashed crimson 2px;
}
.anchor:hover{
  color: var(--anchorHover-color, white);
  text-decoration: underline dashed rgb(43, 119, 43) 2px;
}

.button{
  margin: var(--button-marginTop, 1%) var(--button-marginRight, 1%) var(--button-marginBottom, 1%) var(--button-marginLeft, 1%);
  border: var(--button-borderWidth, 1px) var(--button-borderType, 'solid') var(--button-borderColor,none);
  padding: var(--button-paddingTop, 10px) var(--button-paddingRight, 10px) var(--button-paddingBottom, 10px) var(--button-paddingLeft, 10px);
  font: var(--font-style,normal) var(--font-variant,small-caps) var(--font-weight, 600) var(--font-stretch,condensed) var(--font-size, 1.1rem)/var(--line-height,1.4) var(--font-family,"Helvetica Neue", Arial, sans-serif);
  /*text-decoration: underline dashed crimson 2px;*/
  /*text-emphasis: dot red;*/
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  color: rgb(255, 255, 255);
  background-color: rgba( var(--rgb-color,128, 128, 128), var(--rgb-opacity,0.6));
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

