/* Header.module.css */

.header {
  display: inline-flex;
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color, transparent);
}

.fixed {
  position: fixed;
}

.navbar {
  display: flex;
  flex: var(--componet-Grow, 1 1 0);
}

.alignComponent{
  display: inline-flex;
  align-items: center;
  list-style: none;
  flex: var(--componet-Grow, 1 1 0);
}
.justifyLeft {
  justify-content: left;
}
.justifyCenter {
  justify-content: center;
}
.justifyRight {
  justify-content: right;
}

.il{
  padding: 0.9%;
}
.borderRight {
  border-right: 1px solid gray;
}


.touchTarget {
  padding: 0.375rem;
  min-width: clamp(2.5rem, 5vw, 3rem);
  min-height: clamp(2.5rem, 5vw, 3rem);
  margin: 0.5rem;
}