.footer{
  width: 100%;
  padding: 10px;
  background-color: var(--bg-Color, white);
}


/* FooterNavBar classes */
.footerNav{
  display: flex;
  flex-direction: column;
  align-items: var(--footer-navBar-container-justifyContent,center);
  gap: 5px;
}

.footerNavTitle{
  font-size: var(--footer-navbar-title-fontSize, 20px);
  font-family: var(--footer-navbar-title-family, 'arial');
  font-weight: 600;
  text-transform: uppercase;
}

.footerNavList{
  display: flex;
  width:100%;
  flex-direction: var(--footer-navbar-list-direction, column);
  justify-content: var(--footer-navbar-list-justifyContent,center);
  align-items: var(--footer-navbar-list-itemsAlign,center);
  gap: 5px;
  font-size: var(--fontSize-link, 17px);
  font-family: var(--fontFamily-link, 'Open sans');
  font-weight: 400;
}




.enableHover:hover{
  color: var(--NavBar-HoverColor,white)
}


.footerFlexContainer{
  display: flex;
  flex-direction: var(--footer-flex-direction); --footer-flex-direction:row;
  flex-wrap: var(--footer-flex-wrap); --footer-flex-wrap:wrap;
  align-content: var(--footer-align-content); --footer-align-content:stretch;
  justify-content: var(--footer-justify-content); --footer-justify-content:center;
  align-items: var(--footer-align-items); --footer-align-items:center;
  width: auto;
  gap: 10px;
}