.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 10px;
  background-color: var(--bg-Color, white);
}

.nav{
  display: flex;
  flex-direction: column;
}

.ul{
  display: flex;
  flex-direction: column;
}


.justifyLeft {
  justify-content: left;
}
.justifyCenter {
  justify-content: center;
}
.justifyRight {
  justify-content: right;
}

.itemsAlignLeft {
  align-items: flex-start;
}
.itemAlignCenter {
  align-items: center;
}
.itemsAlignRight {
  align-items: flex-end;
}

.footerRows{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footerRowsAlign{
  justify-content: var(--justify-content, center);
}