.footer{
  width: 100%;
  padding: 10px;
  background-color: var(--bg-Color, white);
}

.nav{
  display: flex;
  flex-direction: column;
}

.ul{
  display: flex;
  flex-direction: column;
}


.justifyLeft {
  justify-content: left;
}
.justifyCenter {
  justify-content: center;
}
.justifyRight {
  justify-content: right;
}

.itemsAlignLeft {
  align-items: flex-start;
}
.itemAlignCenter {
  align-items: center;
}
.itemsAlignRight {
  align-items: flex-end;
}


.footerNavTitle{
  font-size: var(--fontSize-Title, 16px);
  font-family: var(--fontFamily-Title, 'arial');
  font-weight: 600;
  text-transform: uppercase;
}
.footerNavBarLInk{
  font-size: var(--fontSize-link, 14px);
  font-family: var(--fontFamily-link, 'Open sans');
  font-weight: 400;
}
.enableHover:hover{
  color: var(--NavBar-HoverColor,white)
}


.footerFlexContainer{
  display: flex;
  flex-direction: var(--footer-flex-direction); --footer-flex-direction:row;
  flex-wrap: var(--footer-flex-wrap); --footer-flex-wrap:wrap;
  align-content: var(--footer-align-content); --footer-align-content:stretch;
  justify-content: var(--footer-justify-content); --footer-justify-content:center;
  align-items: var(--footer-align-items); --footer-align-items:center;
  width: auto;
  gap: 10px;
}