.customHeading{
  margin: var(--heading-margin-top, 5px) var(--heading-margin-right, 5px) var(--heading-margin-bottom, 5px) var(--heading-margin-left, 5px);
  font: var(--heading-font-style,normal) var(--heading-font-variant,small-caps) var(--heading-font-weight, 600) var(--heading-font-stretch,condensed) var(--heading-font-size, 4rem)/var(--heading-line-height,1.4) var(--heading-font-family,"Helvetica Neue", Arial, sans-serif);
  /*text-shadow: 0 4px 12px rgba(0,0,0,0.3)*/
  color:var(--heading-color,black);
  letter-spacing: 1px;
}

/* CustomParagraph component */
.customParagraph{
  font: var(--font-style-paragraph,normal) var(--font-variant-paragraph,normal) var(--font-weight-paragraph, 400) var(--font-stretch-paragraph,normal) var(--font-size-paragraph, 1rem)/var(--line-height-paragraph,1.5) var(--font-family-paragraph,"Helvetica Neue", Arial, sans-serif);
}
.anchor{
  color: var(--anchor-color, black);
  text-decoration: var(--anchor-text-decoration-line,underline) var(--anchor-text-decoration-style,solid) var(--anchor-text-decoration-color,black) var(--anchor-text-decoration-thickness,1px);
}
.anchor:hover{
  color: var(--anchor-hover-color, white);
  text-decoration: var(--anchor-hover-text-decoration-line,underline) var(--anchor-hover-text-decoration-style,solid) var(--anchor-hover-text-decoration-color,white) var(--anchor-hover-text-decoration-thickness,1px);
}

.button{
  margin: var(--button-margin-top, 1px) var(--button-margin-right, 1px) var(--button-margin-bottom, 1px) var(--button-margin-left, 1px);
  border: var(--button-border-width, 3px) var(--button-border-type, solid) var(--button-border-color,black);
  border-radius: var(--button-border-radius, 5px);
  padding: var(--button-padding-top, 10px) var(--button-padding-right, 10px) var(--button-padding-bottom, 10px) var(--button-padding-left, 10px);
  font: var(--button-font-text-style,normal) var(--button-font-text-variant,small-caps) var(--button-font-text-weight, 600) var(--button-font-text-stretch,condensed) var(--button-font-text-size, 1.1rem)/var(--button-line-text-height,1.4) var(--button-font-text-family,"Helvetica Neue", Arial, sans-serif);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  color: var(--button-text-color,white);
  background-color: var(--button-background-color, black);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/*custom container*/
.customContainer{
  --container-margin-top:0px; --container-margin-right:0px; --container-margin-bottom:0px; --container-margin-left:0px;
  margin: var(--container-margin-top) var(--container-margin-right) var(--container-margin-bottom) var(--container-margin-left);
  --container-border-width:0px; --container-border-type:solid; --container-border-color:black;
  border: var(--container-border-width) var(--container-border-type) var(--container-border-color);
  --container-border-radius:0px;
  border-radius: var(--container-border-radius);
  --container-padding-top:0px; --container-padding-right:0px; --container-padding-bottom:0px; --container-padding-left:0px;
  padding: var(--container-padding-top) var(--container-padding-right) var(--container-padding-bottom) var(--container-padding-left);
  --container-display:block;
  display: var(--container-display, block);
  --container-background-color:rgb(255, 255, 255); --container-background-image: none; --container-background-position: center; --container-background-size:cover;
  background: var(--container-background-color) var(--container-background-image) var(--container-background-position)/var(--container-background-size) no-repeat;
  --container-background-mode: multiply;
  background-blend-mode: var(--container-background-mode);
}
.flex{
  flex: var(--flex); --flex:1;
  gap: var(--container-flex-gap); --container-flex-gap:10px;
  flex-direction: var(--container-flex-direction); --container-flex-direction: row;
  flex-wrap: var(--container-flex-wrap); --container-flex-wrap: wrap;
  align-content: var(--container-align-content);
  justify-content: var(--container-justify-content);
  align-items: var(--container-align-items);
}
.grid{
  --container-grid-template-columns: 1fr 1fr;
  grid-template-columns: var(--container-grid-template-columns);
  --container-grid-template-rows:auto;
  grid-template-rows: var(--container-grid-template-rows);
  --container-gap:10px;
  gap: var(--container-gap);
  --container-justify-items:center;
  justify-items: var(--container-justify-items);
  --container-align-items:center;
  align-items: var(--container-align-items);
}

/* goggle maps CSS */
.maps{
  padding: var(--maps-padding-top, 5px) var(--maps-padding-right, 5px) var(--maps-padding-bottom, 5px) var(--maps-padding-left, 5px);
}

/* custom video 
.video {
  margin: var(--video-margin-top, 0px) var(--video-margin-right, 0px) var(--video-margin-bottom, 0px) var(--video-margin-left, 0px);
} */

/* custom image */
.image {
  margin: var(--image-margin-top, 0px) var(--image-margin-right, 0px) var(--image-margin-bottom, 0px) var(--image-margin-left, 0px);
}

/* custom separator */
.separator {
  border: none;
  height: var(--separator-height, 2px);
  background-color: var(--separator-color, black);
  margin: var(--separator-margin, 10px) 0;
}

/* spacing component */
.spacing{
  height: var(--spacing-height, 2px);
}




/* CSS hiden */
.visuallyHidden { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0; }