.customHeading{
  margin: var(--heading-margin-top, 5px) var(--heading-margin-right, 5px) var(--heading-margin-bottom, 5px) var(--heading-margin-left, 5px);
  font: var(--heading-font-style,normal) var(--heading-font-variant,small-caps) var(--heading-font-weight, 600) var(--heading-font-stretch,condensed) var(--heading-font-size, 4rem)/var(--heading-line-height,1.4) var(--heading-font-family,"Helvetica Neue", Arial, sans-serif);
  /*text-shadow: 0 4px 12px rgba(0,0,0,0.3)*/
  color:var(--heading-color,black);
  letter-spacing: 1px;
}

/* CustomParagraph component */
.customParagraph{
  font: var(--font-style-paragraph,normal) var(--font-variant-paragraph,normal) var(--font-weight-paragraph, 400) var(--font-stretch-paragraph,normal) var(--font-size-paragraph, 1rem)/var(--line-height-paragraph,1.5) var(--font-family-paragraph,"Helvetica Neue", Arial, sans-serif);
  z-index: 10;
}
.anchor{
  color: var(--anchor-color, black);
  text-decoration: var(--anchor-text-decoration-line,underline) var(--anchor-text-decoration-style,solid) var(--anchor-text-decoration-color,black) var(--anchor-text-decoration-thickness,1px);
}
.anchor:hover{
  color: var(--anchor-hover-color, white);
  text-decoration: var(--anchor-hover-text-decoration-line,underline) var(--anchor-hover-text-decoration-style,solid) var(--anchor-hover-text-decoration-color,white) var(--anchor-hover-text-decoration-thickness,1px);
}

.button{
  margin: var(--button-margin-top, 1px) var(--button-margin-right, 1px) var(--button-margin-bottom, 1px) var(--button-margin-left, 1px);
  border: var(--button-border-width, 3px) var(--button-border-type, solid) var(--button-border-color,black);
  border-radius: var(--button-border-radius, 5px);
  padding: var(--button-padding-top, 10px) var(--button-padding-right, 10px) var(--button-padding-bottom, 10px) var(--button-padding-left, 10px);
  font: var(--button-font-text-style,normal) var(--button-font-text-variant,small-caps) var(--button-font-text-weight, 600) var(--button-font-text-stretch,condensed) var(--button-font-text-size, 1.1rem)/var(--button-line-text-height,1.4) var(--button-font-text-family,"Helvetica Neue", Arial, sans-serif);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  color: var(--button-text-color,white);
  background-color: var(--button-background-color, black);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*custom container*/
.customContainer{
  --container-margin-top:0px; --container-margin-right:0px; --container-margin-bottom:0px; --container-margin-left:0px;
  margin: var(--container-margin-top) var(--container-margin-right) var(--container-margin-bottom) var(--container-margin-left);
  --container-border-width:0px; --container-border-type:solid; --container-border-color:black;
  border: var(--container-border-width) var(--container-border-type) var(--container-border-color);
  --container-border-radius:5px;
  border-radius: var(--container-border-radius);
  --container-padding-top:0px; --container-padding-right:0px; --container-padding-bottom:0px; --container-padding-left:0px;
  padding: var(--container-padding-top) var(--container-padding-right) var(--container-padding-bottom) var(--container-padding-left);
  --container-display:block;
  display: var(--container-display, block);
}
.flex{
  --container-flex-direction: row;
  flex-direction: var(--container-flex-direction);
  flex-wrap: nowrap; 
  --container-align-content:stretch;
  align-content: var(--container-align-content);
  --container-justify-content: center;
  justify-content: var(--container-justify-content);
  --container-align-items: center;
  align-items: var(--container-align-items);
}
.grid{
  --container-grid-template-columns: 1fr 1fr;
  grid-template-columns: var(--container-grid-template-columns);
  --container-grid-template-rows:auto;
  grid-template-rows: var(--container-grid-template-rows);
  --container-gap:10px;
  gap: var(--container-gap);
  --container-justify-items:center;
  justify-items: var(--container-justify-items);
  --container-align-items:center;
  align-items: var(--container-align-items);
}